<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Ecommerce</title>
        {% else %}
        <title>Welcome to ecommerce</title>
        {% endif %}
    </head>
    <body>
        <div>
            Ecommerce:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
                <a href="{{ url_for('wishlist') }}">wishlist</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        <form action="{{ url_for('search') }}" method="GET">
           <input type="text" name="query" placeholder="Search...">
           <button type="submit">Search</button>
        </form>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
